/*|| Info -------------------------------------------------------------------------------------------------- */

.info {
    padding: 1em;
    margin-top: 6em;
}

.info__title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2rem;
}

.info__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.info__item {
    display: grid;
    grid-template-columns: 2em auto;
    gap: 0 1em;
}

.info__item svg {
    width: 2em;
    grid-column-start: 1;
}

.info__item h3,
.info__item p {
    grid-column-start: 2;
}

.info__item h3 {
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: bold;
}

.info__item p {
    line-height: 1.6;
}