/*|| Info -------------------------------------------------------------------------------------------------- */

.info {
    padding: 1em;
    margin-top: 6em;
}

.info__title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2rem;
}

.info__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.info__item {
    display: grid;
    grid-template-columns: 2em auto;
    gap: 0 1em;
}

.info__item svg {
    width: 2em;
    grid-column-start: 1;
}

.info__item h3,
.info__item p {
    grid-column-start: 2;
}

.info__item h3 {
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: bold;
}

.info__item p {
    line-height: 1.6;
}

@media screen and (min-width: 640px) {
    .info {
        padding: 2em;
    }

    .info__title {
        margin-bottom: 3rem;
    }

    .info__grid {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
}

@media screen and (min-width: 768px) {
    .info__title {
        font-size: 3.5em;
        margin-bottom: 0;
    }

    .info__grid--container {
        display: flex;
        justify-content: center;
    }

    .info__grid {
        margin: 4em;
        padding-left: 4em;
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {
    .info {
        padding: 2em 4em;
    }

    .info__title {
        font-size: 4em;
    }

    .info__grid {
        grid-template-columns: repeat(4, 1fr);
        padding-left: unset;
    }
}