/*|| Resets ------------------------------------------------------------------------------------------ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/* Small UX improvement */
input[type="range"]:hover {
    cursor: pointer;
}

/*|| Colours ----------------------------------------------------------------------------------------- */

/* TODO: Grab all hex codes from Sean and create named variables */
/*
:root {
	--clr-accent: ;
	--clr-accent-light: ;
	--clr-accent-dark: ;
}
*/
/*|| Typography -------------------------------------------------------------------------------------- */

.title {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    margin: 0.5em;
    text-align: center;
}

.title--white {
    color: #fff;
}

/*|| Carousel Section ---------------------------------------------------------------------------------------- */


.feedback-plant-1 {
    position: absolute;
    right: 10%;
    top: 0;
}


.feedbackcarousel {
    /* width: 50%; */
    max-width: 50%;
    display: flex;
}

.feedbackcarousel__content {
    position: relative;
    display: flex;
    gap: 0.5em;
    /* border: 1px solid red; */
    z-index: +1;
    width: 100%;
    min-width: 10em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    margin: 1.5em auto;
    height: 100%;
}

.feedbackcarousel__quotation {
    display: grid;
    /* flex-direction: column; */
    min-width: 2em;
    height: 100%;
}

.feedbackcarousel__quotation--left {
    position: relative;
    align-self: start;
    justify-content: flex-start;
}

.feedbackcarousel__quotation--right {
    position: relative;
    /* top: 5em; */
    align-self: end;
}

.feedbackcarousel__navigation {
    /* margin: 2em; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.feedbackcarousel__navigation svg {
    position: relative;
    width: 3em;
    height: auto;
    top: 0;
    /* opacity: 0.5; */
}

.feedbackcarousel__navigation-dot {
    user-select: none;
    position: relative;
    font-size: 2em;
    /* top: -2px; */
}

.feedbackcarousel__navigation input[type="radio"] {
    display: none;
}

.feedbackcarousel__navigation input[type="radio"] label {
    color: #fff;
    cursor: pointer;
}

.feedbackcarousel__navigation input[type="radio"]:checked+label,
.feedbackcarousel__navigation input[type="radio"]:active+label {
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .feedbackcarousel__content {
        font-size: 0.9em;
    }

    .feedbackcarousel {
        max-width: unset;
        margin: 1em;
    }

    .feedback-plant-1 {
        opacity: 0.3;
    }

    .feedbackcarousel__navigation {
        margin: 0;
    }
}

/*|| Utilities --------------------------------------------------------------------------------------- */

main {
    background-color: #303630;
    height: 100vh;
}

section {
    padding: 4em 0;
    background-color: #303630;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
    /* height: 2em; */
}

.btn:hover {
    opacity: 1;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}

/* .fade-out {
    animation: fade-out 0.5s;
    animation-delay: 0.5s;
}

.fade-in {
    animation: fade-in 0.5s;
    animation-delay: 0.5s;
} */

.fade-out-left {
    animation: fade-out-to-left 1s forwards;
}

.fade-out-right {
    animation: fade-out-to-right 1s forwards;
}

.fade-in-left {
    animation: fade-in-from-left 1s forwards;
}

.fade-in-right {
    animation: fade-in-from-right 1s forwards;
}

@keyframes fade-in-from-right {
    0% {
        transform: translateX(50%);
        display: none;
        opacity: 0;
    }

    50% {
        transform: translateX(50%);
        display: block;
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }
}

@keyframes fade-in-from-left {
    0% {
        transform: translateX(-50%);
        display: none;
        opacity: 0;
    }

    50% {
        transform: translateX(-50%);
        display: block;
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }
}

@keyframes fade-out-to-right {
    0% {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }

    50% {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        display: none;
        opacity: 0;
    }
}

@keyframes fade-out-to-left {
    0% {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }

    50% {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }

    100% {
        transform: translateX(-50%);
        display: none;
        opacity: 0;
    }
}