/*|| Resets ------------------------------------------------------------------------------------------ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Small UX improvement */
input[type="range"]:hover {
    cursor: pointer;
}

img {
    user-select: none;
}

/*|| Colours ----------------------------------------------------------------------------------------- */

:root {
    /* Greyscale */
    --clr-black: #0C0D0C;
    --clr-greyscale-1: #303630;
    --clr-greyscale-2: #616B61;
    --clr-greyscale-3: #949E94;

    /* Bronze */
    --clr-bronze-1: #CC8328;
    --clr-bronze-2: #E59C42;
    --clr-bronze-3: #ECB46F;
    --clr-bronze-4: #F2CB9C;
    --clr-bronze-5: #F6E8D5;

    /* Section Bronze */
    --clr-bronze-6: #E8D0B0;

    /* Pine */
    --clr-pine-1: #212C21;
    --clr-pine-2: #374937;
    --clr-pine-3: #527A52;
    --clr-pine-4: #99B299;
    --clr-pine-5: #B6C8B6;

    /* Footer */
    --clr-footer: #1D201D;
}

/*|| Typography -------------------------------------------------------------------------------------- */

h2,
h3,
q {
    font-family: 'Raleway', sans-serif;
    color: var(--clr-black);
}

p,
ul,
a {
    font-family: 'Lato', sans-serif;
    color: var(--clr-black);
}

/* Just for fun */

a::selection,
h1::selection,
h2::selection,
h3::selection {
    /* text-shadow: 3px 3px 3px var(--clr-bronze-2); */
    background-color: var(--clr-bronze-2);
    color: #fff;
}

p::selection,
ul::selection,
li::selection,
q::selection {
    background-color: var(--clr-pine-3);
    color: #fff;
}

/*|| Global -------------------------------------------------------------------------------------------------- */

html {
    background-color: var(--clr-bronze-5);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* TODO: Make section padding responsive. Maybe reduce to 1 or 2em for mobile and tablet */

section {
    padding: 2em 0;
}

.section--greyscale {
    background-color: var(--clr-greyscale-1);
}

.section--bronze {
    background-color: var(--clr-bronze-6);
}

/*||Navbar--------------------------------------------------------------------------------------------------------------*/

header {
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.header--fade {
    background-color: var(--clr-bronze-5);
    box-shadow: 0 0 1em var(--clr-black);
    transition: 0.2s;
}

.navbar__logo {
    display: block;
    padding: 1em;
    user-select: none;
    transition: 0.2s ease;
}

.navbar__logo .navbar__logo--transition1,
.navbar__logo .navbar__logo--transition2 {
    transition: 0.2s ease;
}

.navbar__logo:hover .navbar__logo--transition1 {
    fill: var(--clr-bronze-2);
    transition: 0.2s;
}

.navbar__logo:hover .navbar__logo--transition2 {
    stroke: var(--clr-bronze-2);
    transition: 0.2s;
}

header nav {
    position: absolute;
    /*text-align: left;*/
    z-index: 1001;
    top: 100%;
    right: 0;
    width: 100%;
    transform: scale(1, 0);
    transform: transform 400ms ease-in-out;
    transform-origin: top;
}

header nav ul {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 70vh;
    z-index: 999;
    gap: 3em;
}

/* header nav li {
    padding: 1em 1em;
} */

.navbar__link-group {
    /* margin-bottom: 2em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.navbar__linebreak {
    height: 2px;
    width: 8rem;
    background-color: #E59C42;
}

.navbar__links {
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar__links:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: auto;
    background: #527A52;
    transition: 0.5s ease;
    transform: scale(0, 1);
    transform-origin: left;
}

.navbar__links:hover:after {
    transform: scale(1, 1);
    transform-origin: left;
}

.navbar__checkbox {
    display: none;
}

.navbar__checkbox:checked~nav {
    transform: scale(1, 1);
    transition: transform 0.15s ease-in-out;
}

.navbar__checkbox:not(:checked)~nav {
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out;
}

.navbar__hamburger {
    margin-right: 1em;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}


/* 1100 seems to work well, but I'll keep it at 800 
for now and tweak it more when it's part of the larger file */

@media screen and (min-width: 1024px) {
    .navbar__hamburger {
        display: none;
    }

    header {
        position: fixed;
        display: flex;
        /* justify-content: center; */
        text-align: unset;
        /* padding: 0 2rem; */
    }

    .navbar__logo {
        padding: 1em 0;
        /* padding-right: 15vw; */
        margin-left: 6em;
    }

    .navbar__logo,
    header a {
        width: fit-content;
    }

    .navbar__checkbox:not(:checked)~nav {
        all: unset;
    }

    nav {
        all: unset;
    }

    header nav ul {
        /* margin: 0; */
        margin-right: 6em;
        height: unset;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    header nav li {
        padding-left: 1em;
    }

    .navbar__link-group {
        display: flex;
        flex-direction: row;
        justify-self: end;
        margin: 0;

    }

    .navbar__linebreak {
        display: none;
    }

    .navbar__links {
        margin: 0 1em;
        text-transform: unset;
        color: black;
        font-size: 1.2rem;
    }

    .btn--cta {
        justify-self: end;
        /* padding-right: 6em; */
        min-width: 162px;
    }
}

/*|| Carousel Section ---------------------------------------------------------------------------------------- */

.feedback-plant-1 {
    position: absolute;
    width: 6em;
    right: 10%;
    top: 0;
}

.feedbackcarousel__section {
    position: relative;
}

.feedbackcarousel__title {
    font-size: 2em;
    color: #fff;
}

.feedbackcarousel {
    max-width: 50%;
    display: flex;
}

.feedbackcarousel__content {
    position: relative;
    display: flex;
    gap: 0.5em;
    width: 100%;
    min-width: 10em;
    margin: 1.5em auto;
    height: 100%;
}

.feedbackcarousel__content>p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}

.feedbackcarousel__quotation {
    display: grid;
    min-width: 2em;
    height: 100%;
}

.feedbackcarousel__quotation--left {
    position: relative;
    align-self: start;
    justify-content: flex-start;
}

.feedbackcarousel__quotation--right {
    position: relative;
    align-self: end;
}

.feedbackcarousel__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.feedbackcarousel__navigation svg {
    position: relative;
    width: 3em;
    height: auto;
    top: 0;
}

.feedbackcarousel__btn {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.feedbackcarousel__btn--bronze {
    stroke: var(--clr-bronze-2);
}

.feedbackcarousel__btn:hover,
.feedbackcarousel__btn:active {
    opacity: 1;
}

.feedbackcarousel__btn:active {
    transform: scale(1.1);
    transition: 0.2s;
}

.feedbackcarousel__navigation>label {
    user-select: none;
    margin: 0.5em;
    font-size: 2em;
}

.feedbackcarousel__navigation input[type="radio"] {
    display: none;
}

.feedbackcarousel__navigation input[type="radio"] label {
    color: #fff;
    cursor: pointer;
}

.feedbackcarousel__navigation input[type="radio"]:checked+label,
.feedbackcarousel__navigation input[type="radio"]:active+label {
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .feedbackcarousel__content {
        font-size: 1em;
    }

    .feedbackcarousel {
        max-width: unset;
        margin: 1em;
    }

    .feedback-plant-1 {
        opacity: 0.3;
    }

    .feedbackcarousel__navigation {
        margin: 0;
    }
}

/*|| Utilities --------------------------------------------------------------------------------------- */

.btn {
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 0.5em;
    width: 6em;
    padding: 1em 2em;
    z-index: 10;
}

.btn--primary {
    background-color: var(--clr-pine-3);
    opacity: 1;
    transition: 0.2s;
}

.btn--primary:hover {
    background-color: var(--clr-bronze-2)
}

.btn--secondary {
    border: 2px solid var(--clr-pine-4);
    color: var(--clr-pine-4);
    transition: 0.2s;
}

.btn--secondary:hover {
    color: var(--clr-pine-2);
    background-color: var(--clr-pine-4);
}

/* 
.btn:hover {
    opacity: 1;
} */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}