/*|| Hero -------------------------------------------------------------------------------------------------- */

.home-hero {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(#F6E8D5, #EDD1AB);
}

.home-hero__text {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.home-hero__title {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.3;
    z-index: +1;
    /* padding: 2rem 1rem 0 1rem; */
}

.home-hero__chalk {
    position: absolute;
    z-index: -1;
    max-width: 4.25em;
    transform: translate(-0.1em, -0.2em);
}

.home-hero__text p {
    font-size: 1.3em;
    line-height: 1.6;
    font-weight: 300;
}

.home-hero__image {
    justify-self: center;
    position: relative;
}

.home-hero__image picture img {
    filter: drop-shadow(0px 0px 1em var(--clr-bronze-2));
    /* position: relative; */
    z-index: 1;
    width: 15em;
}

.home-hero__image svg {
    position: absolute;
}

.home-hero__svg1 {
    right: 11em;
    width: 3em;
}

.home-hero__svg2 {
    right: 12em;
    top: 1em;
    width: 6em;
}

.home-hero__svg3 {
    right: 13em;
    top: 4em;
    width: 8em;
}

.home-hero__svg4 {
    right: 12em;
    top: 10em;
    width: 9em;
}

@media screen and (min-width: 640px) {
    .home-hero {
        padding: 2em 4em;
    }

    .home-hero__text {
        text-align: center;
        align-items: center;
        margin-bottom: unset;
    }

    .home-hero__image {
        margin-top: 1.5em;
        width: unset;
    }
}

@media screen and (min-width: 1024px) {
    .home-hero {
        padding: 2em 6em;
        display: grid;
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
    }

    .home-hero__text {
        text-align: left;
        align-items: flex-start;
        gap: 1em;
    }

    .home-hero__title {
        font-size: 3em;
        grid-column-start: 1;
    }

    .home-hero__text p {
        font-size: 1.6em;
    }

    .home-hero__title,
    .home-hero__text p {
        padding: 0;
    }

    .home-hero__image {
        justify-self: end;
        align-self: center;
        margin-top: 4em;
        grid-column-start: 2;
    }

    .home-hero__image picture img {
        width: 20em;
    }

    .home-hero__svg1 {
        right: 14em;
        top: -1em;
        width: 5em;
    }

    .home-hero__svg2 {
        right: 16em;
        top: 2em;
        width: 7em;
    }

    .home-hero__svg3 {
        right: 17em;
        top: 6em;
        width: 11em;
    }

    .home-hero__svg4 {
        right: 16em;
        top: 15em;
        width: 10em;
    }
}

@media screen and (min-width: 1280px) {
    .home-hero {
        padding: 4em 8em;
    }

    .home-hero__title {
        font-size: 3.5em;
    }

    .home-hero__image picture img {
        width: 23em;
    }

    .home-hero__svg1 {
        right: 16em;
        top: -1em;
        width: 6em;
    }

    .home-hero__svg2 {
        right: 18em;
        top: 3em;
        width: 9em;
    }

    .home-hero__svg3 {
        right: 20em;
        top: 7em;
        width: 11em;
    }

    .home-hero__svg4 {
        right: 18em;
        top: 16em;
        width: 12em;
    }

    .home-hero__text {
        gap: 3em;
    }
}

@media screen and (min-width: 1536px) {
    .home-hero {
        padding: 4em 10em;
    }
}

@media screen and (min-width: 1920px) {
    .home-hero {
        padding: 4em 14em;
    }

    .home-hero__title {
        font-size: 5em;
    }

    .home-hero__chalk {
        width: 10em;
    }

    .home-hero__image picture img {
        width: 27em;
        /* opacity: 0.2; */
    }

    .home-hero__svg1 {
        right: 19em;
        top: -1em;
        width: 7em;
    }

    .home-hero__svg2 {
        right: 21em;
        top: 2em;
        width: 12em;
        transform: rotate(-20deg);
    }

    .home-hero__svg3 {
        right: 23em;
        top: 10em;
        width: 13em;
        transform: rotate(-10deg);
    }

    .home-hero__svg4 {
        right: 22em;
        top: 21em;
        width: 12em;
    }
}

/*|| Client Symptoms -------------------------------------------------------------------------------------------------- */

.client-symptoms {
    position: relative;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.client-symptoms__title {
    color: #fff;
    font-size: 2em;
    z-index: 10;
    font-weight: 300;
    line-height: 1.3;
    z-index: +1;
}

.client-symptoms__grid {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em 5em;
}

.client-symptoms__card {
    position: relative;
    width: 5em;
    height: 5em;
    background-color: var(--clr-bronze-5);
    border-radius: 0.5em;
    transition: 0.2s;
}

.client-symptoms__card:hover {
    background-color: var(--clr-bronze-2);
}

/* .client-symptoms__card:hover svg {
    fill: #fff;
    stroke: #fff;
} */

.client-symptoms__card p {
    position: relative;
    color: #fff;
    top: 6em;
    text-align: center;
    transform: translateX(-25%);
    width: 9.5em;
}

.client-symptoms__svg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 2em;
    height: 20em;

}

.client-symptoms a {
    margin-top: 4em;
}

@media screen and (min-width: 640px) {
    .client-symptoms__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .client-symptoms__card:last-child {
        grid-column-start: 2;
    }

    .client-symptoms__svg {
        height: 22em;
    }
}

@media screen and (min-width: 1024px) {
    .client-symptoms__grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .client-symptoms__card:last-child {
        grid-column-start: unset;
    }

    .client-symptoms__svg {
        height: 25em;
    }
}

/*|| Benefits -------------------------------------------------------------------------------------------------- */

.benefits-section {
    display: grid;
    grid-template-columns: 1fr;
}

.benefits-section__text {
    grid-column-start: 1;
    display: flex;
    justify-self: center;
    flex-direction: column;
    height: 100%;
    margin: 1em;
    gap: 2em;
}

.benefits-section__title {
    font-size: 1.6em;
    position: relative;
    z-index: 10;
}

.benefits-section__chalk {
    position: absolute;
    z-index: -1;
    width: 2.5em;
    transform: translateY(-0.4em);
}

.benefits-section__text p,
.benefits-section__text li {
    line-height: 1.6;
    font-size: 1.2em;
    font-weight: 300;
}

.benefits-section__text li::before {
    content: '✓';
    color: var(--clr-pine-3);
    margin-right: 1em;
    font-weight: bold;
}

.benefits-section__image {
    position: relative;
    justify-self: center;
    align-self: center;

    margin: 1em;
}

.benefits-section__image img {
    position: relative;
    z-index: 10;
    width: 15em;
    justify-self: center;
    border-radius: 0.5em;
    filter: drop-shadow(0 0 0.5em var(--clr-black));

}

.benefits-section__image-shadow {
    position: absolute;
    background-color: var(--clr-pine-4);
    border-radius: 0.5em;
    width: 15em;
    aspect-ratio: 3 / 4;
    top: 1em;
    left: 1em;
    z-index: 0;
}

.benefits-section__svg-1,
.benefits-section__svg-2 {
    position: absolute;
    bottom: -1em;
    width: 5em;
}

.benefits-section__svg-1 {
    left: -2.5rem;
}

.benefits-section__svg-2 {
    right: -2.5rem;
}

@media screen and (min-width: 640px) {
    .benefits-section__text {
        text-align: center;
        margin: 0 2em
    }

    .benefits-section__title {
        font-size: 2em
    }

    .benefits-section__text ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
}

@media screen and (min-width: 768px) {
    .benefits-section__text {
        margin: 0 4em;
    }

    .benefits-section__text p,
    .benefits-section__text li {
        font-size: 1.6em;
    }

    .benefits-section__image img,
    .benefits-section__image-shadow {
        width: 20em;
    }

    .benefits-section__svg-1,
    .benefits-section__svg-2 {
        width: 7em;
    }

    .benefits-section__svg-1 {
        left: -4rem;
    }

    .benefits-section__svg-2 {
        right: -4rem;
    }
}

@media screen and (min-width: 1024px) {
    .benefits-section {
        grid-template-columns: auto 1fr;
        margin: unset;
        padding: 2em 6em;
    }

    .benefits-section__text {
        text-align: left;
        margin: unset;
        margin-right: 2em;
    }

    .benefits-section__text ul {
        display: unset;
    }

    .benefits-section__image {
        justify-self: end;
        margin-top: 2em;
    }

    .benefits-section__image img,
    .benefits-section__image-shadow {
        width: 15em;
    }

    .benefits-section__svg-1 {
        left: -3rem;
    }

    .benefits-section__svg-2 {
        right: -3rem;
    }

    .benefits-section__svg-1,
    .benefits-section__svg-2 {
        width: 5em;
    }
}

@media screen and (min-width: 1280px) {
    .benefits-section {
        padding: 2em 8em;
    }

    .benefits-section__text {
        justify-content: center;
        gap: 3em;
    }

    .benefits-section__image img,
    .benefits-section__image-shadow {
        width: 20em;
    }

    .benefits-section__svg-1,
    .benefits-section__svg-2 {
        width: 7em;
    }

    .benefits-section__svg-1 {
        left: -4rem;
    }

    .benefits-section__svg-2 {
        right: -4rem;
    }
}

@media screen and (min-width: 1536px) {
    .benefits-section {
        padding: 2em 10em;
    }

    .benefits-section__text {
        margin-right: 4em;
    }
}

@media screen and (min-width: 1536px) {
    .benefits-section {
        padding: 3em 14em;
    }
}

/*|| Vision -------------------------------------------------------------------------------------------------- */

.vision__hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
    padding: 1em;
}

.vision__hero a {
    position: relative;
}

.vision__hero a svg {
    position: absolute;
    height: 4em;
    z-index: -1;
}

.vision__text {
    text-align: center;
    color: var(--clr-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 2;
    gap: 2em;
}

.vision__quote {
    line-height: 1.6;
    font-size: 1.2em;
    font-weight: 300;
}

.vision__image {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.vision__image img {
    position: relative;
    width: 16em;
    justify-self: center;
    filter: drop-shadow(1em 1em 1em var(--clr-pine-1));
    transform: translateX(0.5em);
}

/* This is a little hacky, but fixes the artifacts in firefox */
@-moz-document url-prefix() {
    .vision__image img {
        filter: none;
    }
}

.vision__image svg {
    position: absolute;
    justify-self: center;
    z-index: -1;
    width: 24em;
    bottom: -4em;
    /* transform: translateX(-1em); */
}

.btn--fancy {
    width: fit-content;
    text-align: center;
    right: 0;
    margin-bottom: 2em;
}

.btn--fancy svg {
    position: absolute;
    left: -2em;
}

.btn--fancy svg path {
    transition: 0.2s;
}

.btn--fancy:hover svg path {
    fill: var(--clr-bronze-2);
}

@media screen and (min-width: 640px) {
    .vision__hero {
        padding: 1em 2em;
    }

    .vision__quote {
        font-size: 1.6em;
    }

    .vision__image img {
        width: 18em;
    }

    .vision__image svg {
        width: 28em;
        bottom: -4.5em;
        transform: translateX(-0.5em);
    }
}

@media screen and (min-width: 768px) {
    .vision__hero {
        padding: 2em 4em;
    }
}

@media screen and (min-width: 1024px) {
    .vision__hero {
        display: flex;
        padding: 2em 6em;
        justify-content: space-between;
    }

    .vision__text {
        text-align: left;
        align-items: start;
        justify-content: space-evenly;
        max-width: 40em;
    }
}

@media screen and (min-width: 1280px) {
    .vision__hero {
        padding: 2em 8em;
    }
}

@media screen and (min-width: 1536px) {
    .vision__hero {
        padding: 2em 10em;
    }
}

@media screen and (min-width: 1920px) {
    .vision__hero {
        padding: 3em 14em;
    }

    .vision__image img {
        width: 22em;
    }

    .vision__image svg {
        width: 32em;
        bottom: -5.5em;
        transform: translateX(-0.5em);
    }
}

/*|| Promise -------------------------------------------------------------------------------------------------- */

.promise__title {
    font-size: 2em;
    position: relative;
    text-align: center;
    margin-bottom: 2em;
}

.promise__chalk {
    position: absolute;
    width: 4em;
    transform: translateY(1em);

}

.promise__arrows {
    display: none;
}

.promise__values {
    margin: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em
}

.promise__values>div {
    max-width: 20em;
    background-color: var(--clr-pine-2);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
}

.promise__values h3,
.promise__values p {
    color: white;
    text-align: center;
}

.promise__values h3 {
    font-size: 1.6em;
}

.promise__consultation {
    margin: 1em;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.promise__consultation p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    opacity: 0.8;
}

.promise__consultation a {
    color: var(--clr-bronze-2);
    font-size: 1.6em;
}

.promise__consultation-chalk {
    width: 15em;
    align-self: center;
    transform: translate(1em, -0.8em);
}

@media screen and (min-width: 1024px) {
    .promise {
        padding: 0 6em;
    }

    .promise__values {
        flex-direction: row;
        justify-content: center;
        margin: unset;
    }

    .promise__arrows {
        display: block;
        width: 5em;
    }

    .promise__cta {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .promise__consultation p {
        margin-top: 1em;
    }
}

@media screen and (min-width: 1280px) {
    .promise {
        padding: 0 8em;
    }
}

@media screen and (min-width: 1536px) {
    .promise {
        padding: 0 10em;
    }

    .promise__values {
        gap: unset;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1536px) {
    .promise {
        padding: 1em 14em;
    }

    .promise__values>div {
        max-width: 25em;
    }

    .promise__arrows {
        width: 6em;
    }
}

/*|| FAQ -------------------------------------------------------------------------------------------------- */

.faq {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.faq hr {
    width: 100%;
    border: none;
    border-top: 2px solid var(--clr-pine-2);
}

.faq__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.faq__item>label {
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    padding: 0.5em 0;
}

.faq__question {
    font-size: 1.2em;
}

.faq__answer {
    line-height: 1.2;
    grid-column: 1 / 3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-weight: 300;
}

.faq__plus-icon {
    position: relative;
    width: 15px;
    height: 15px;
}

.faq__plus-icon::after,
.faq__plus-icon::before {
    content: "";
    width: 15px;
    height: 3px;
    background-color: var(--clr-pine-3);
    display: block;
    position: absolute;
    border-radius: 2px;
    top: 50%;
    transition: 0.3s;
    /* left: 50%; */
}

.faq__plus-icon::before {
    transform: rotate(90deg);
}

.faq__plus-icon.active::before {
    transform: rotate(0deg);
}

@media screen and (min-width: 640px) {
    .faq {
        margin: 2em;
    }
}

@media screen and (min-width: 768px) {
    .faq {
        margin: 2em 4em;
    }

    .faq__question {
        font-size: 1.4em;
    }

    .faq__answer {
        line-height: 1.2;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {
    .faq {
        margin: 2em 6em;
    }
}

@media screen and (min-width: 1280px) {
    .faq {
        margin: 2em 20em;
    }
}

/* @media screen and (min-width: 1536px) {
    .faq {
        margin: 2em 10em;
    }
} */